wp-admin/
wp-content/mu-plugins/gd-system-plugin.php
wp-content/mu-plugins/
wp-content/uploads/awesome-support/
wp-includes/
wp-*.php
!wp-config.php
index.php
gd-config.php
wp-content/updraft/backup_*
wp-content/updraft/log*
