// out: ../common.css, compress: true

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

html { font-size: 1.125em; }

/* ---------- DEFAULTS ------------------------------ */

a { text-decoration: none; }
img { border: none; }
h1, ul, li { margin: 0; padding: 0; }
h2, h3, h4, h5, p { margin: 0 0 1em; padding: 0; }
li { list-style-type: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select,
.wpas-form-control,
.wppb-user-forms input[type="text"], .wppb-user-forms input[type="number"],
.wppb-user-forms input[type="email"], .wppb-user-forms input[type="url"],
.wppb-user-forms input[type="password"], .wppb-user-forms input[type="search"] {
    color: #111;
    padding: .6em .8em;
	border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    font-size: 16/18em;

    &:focus { border-color: #999; }
}

/* ---------- VARIABLES, MIX-INS, ETC. ------------------------------ */

@theme-primary: #be1e2d;
@theme-secondary: darken(@theme-primary, 15%);

/* ---------- ELEMENTS ------------------------------ */

.btn {
    display: inline-block;
    padding: .4em .8em;
    background-color: @theme-primary;
    color: #fff;
    text-shadow: 1px 1px 1px fade(shade(@theme-primary,50%), 50%);

    &:hover{
        color: #fff;
        text-shadow: 1px 1px 1px fade(shade(@theme-primary, 50%), 75%);
    }

    &.primary {
        padding: .6em 1em;
        background-color: @theme-secondary;
        background-image: linear-gradient(to bottom, fade(@theme-primary, 50%), transparent);
        font-size: 1.25em;
    }

    &:visited { color: #fff; }
}

.strip {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100vw;
        margin-left: calc(~'50% - 50vw');
        background-color: inherit;
    }
}

.post-edit-link { display: none; }

/* ---------- RESPONSIVE ------------------------------ */

// Breakpoints

@bp-phone-max:           600px;
@bp-tablet-orientation:  900px;
@bp-desktop-min:         1200px;

/* ---------- LAYOUT ------------------------------ */

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: @bp-desktop-min;
    box-sizing: border-box;
    margin: 0 auto;
    padding: .5em 2rem;
    .strip;

    &::before {
        background-color: @theme-secondary;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.35), transparent);
    }
}

.custom-logo-link {
    display: block;
    height: 4em;
}

.custom-logo {
    max-width: none;
    width: auto;
    height: 100%;
}

//.site-title { display: none; }

.main-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 3em;
}

.primary-nav {
    flex-grow: 1;

    li { display: inline-block; }
    li:not(:first-child) { margin-left: 2em; }

    a {
        display: inline-block;
        padding: .25em .5em;
        color: #fff;
        font-size: 1.125em;

        &:hover {
            background-color: fade(@theme-primary, 50%);
        }
    }
}

.login {
    &:extend(.primary-nav a);

    background-color: @theme-primary;
    //background-image: linear-gradient(to bottom, transparent, fade(@theme-primary, 25%));

    &:visited { color: #fff; }
}

.user-menu {
    text-align: right;

    li { display: inline; }

    a {
        display: inline-block;
        border-bottom: 1px dotted transparent;
        color: #fff;

        &:hover { border-bottom-color: rgba(255,255,255,.25); }
    }

    .user {
        margin-right: .5em;
        font-weight: bold;
    }

    .logout {
        color: tint(@theme-primary, 65%);
        font-size: 16/18em;
    }
}

.site-content {
    flex-grow: 1;
    width: 100%;
    max-width: @bp-desktop-min;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.site-footer {
    background-color: #000;
    padding: 2rem;
    text-align: center;
}

footer .nav {
    margin-bottom: 1em;

    li {
        display: inline-block;
        margin: 0 .5em;
    }

    a {
        color: #999;
    }
}

/* ---------- LOGIN, ACCOUNT, ETC. ------------------------------ */

.wppb-user-forms input:not([type="button"]):not([type="reset"]):not([type="submit"]),
.wppb-user-forms select,
.wppb-user-forms textarea {
    font-size: 16/18em;
}

/* ---------- HOME ------------------------------ */

body.home .site-content { padding-top: 0; }
body.home .entry-header { display: none; }
body.home .entry-content { margin-top: 0; }

.intro {
    margin-bottom: 4rem;
    padding: 4rem 0;
    background-color: #111;
    color: #fff;

    h1 { margin-bottom: .5em; }
}

.property-types {
    display: flex;

    section {
        flex-grow: 1;
    }
}

.backend-preview {
    min-height: 250px; // TODO: temporary until image decided
    box-sizing: content-box;
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: #ccc;

    img {
        width: 300px;
        height: 250px;
        display: block;
        float: left;
        margin-right: 2rem;
        background-color: #999; //TODO: remove
    }

    h2, p {
        overflow: hidden;
        clear: none;
    }
}
