// out: ../tenant.css, compress: true

@import (reference) "common";

.dashboard {
    display: flex;
    margin-top: 2rem;

    section {
        flex-basis: 50%;
    }

    a {
        margin-top: 1em;
    }

    a:not(.btn) {
        display: block;
        text-decoration: underline;
    }
}
