// out: ../tenant.css, compress: true

@import (reference) "common";

.empty-list {
    margin: 2em 0;
    font-style: italic;
}

button.btn {
    border: 0;
    border-radius: 0;
}

button[type=submit] {
    margin-top: 2em;
}

/* ---------- DASHBOARD ------------------------------ */

.dashboard {
    display: flex;
    margin-top: 2rem;

    section {
        flex-basis: 50%;
    }

    a {
        margin-top: 1em;
    }

    a:not(.btn) {
        display: block;
        text-decoration: underline;
    }

    .balance {
        font-size: 1.5em;

        &.paid { color: green; } // TODO: define color var
        &.unpaid { color: @theme-primary; }
    }
}

/* ---------- MAINTENANCE ------------------------------ */

.wpas {
    &-btn, &-btn-default {
        .btn;
        border: 0;
        font-size: inherit;
    }

    .btn.new {
        @media @mq-no-phone {
            position: absolute;
            top: .5em;
            right: 0;
        }
    }

    &-table, div.checkbox { margin-top: 2em; }

    &-ticket-details {
        h3 {
            margin: 2em 0 0;
        }
    }
}

.wpas-form-group {
    margin-top: 2rem;
}

.wpas-form-control {
    height: auto;
}

.wpas-help-block {
    margin: 1em 0;
    font-size: 14/18em;

    code { font-size: inherit; }
}
