// out: ../tenant.css, compress: true

@import (reference) "common";

.empty-list {
    margin: 2em 0;
    font-style: italic;
}

button.btn {
    border: 0;
    border-radius: 0;
}

button[type=submit] {
    margin-top: 2em;
}

/* ---------- DASHBOARD ------------------------------ */

.dashboard {
    display: flex;
    margin-top: 2rem;

    section { flex-basis: 50%; }

    .balance {
        margin-bottom: 0;
        font-size: 2em;

        &.paid { color: @theme-success; }
        &.unpaid { color: @theme-primary; }
    }

    sup { top: -.25em; }

    .check {
        margin-right: .5em;
        color: @theme-success;
    }

    .invoice {
        display: flex;
        align-items: center;
        max-width: 20em;
        margin-top: .5em;
        padding: .5em 1em;
        border: 1px solid @theme-light;

        p {
            flex-grow: 1;
            margin: 0;
        }

        span { font-weight: bold; }
    }

    .btn { margin-top: 1em; }

    .history {
        display: block;
        margin-top: 2em;
        color: @theme-dark;
        text-decoration: underline;
    }
}

/* ---------- MAINTENANCE ------------------------------ */

.wpas {
    &-btn, &-btn-default {
        .btn;
        border: 0;
        font-size: inherit;
    }

    .btn.new {
        @media @mq-no-phone {
            position: absolute;
            top: .5em;
            right: 0;
        }
    }

    &-table, div.checkbox { margin-top: 2em; }

    &-ticket-details {
        h3 {
            margin: 2em 0 0;
        }
    }
}

.wpas-form-group {
    margin-top: 2rem;
}

.wpas-form-control {
    height: auto;
}

.wpas-help-block {
    margin: 1em 0;
    font-size: 14/18em;

    code { font-size: inherit; }
}
